* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_400 {
  width: 100%;
  height: 3049px;
  background: url("../images/v1_400.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_404 {
  width: 65px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 16px;
  left: 709px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.v1_408 {
  width: 570px;
  height: 375px;
  background: url("../images/v1_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 515px;
  overflow: hidden;
}
.v1_409 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 450px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_412 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 474px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_413 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 498px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_414 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 522px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_415 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 546px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_416 {
  width: 277px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 570px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_417 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 610px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_418 {
  width: 91px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 634px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_419 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 674px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_420 {
  width: 122px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 698px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_421 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 738px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_422 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 762px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_423 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 786px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_424 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 810px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_425 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 834px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_426 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 858px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_427 {
  width: 137px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 882px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_428 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 906px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_429 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 930px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_430 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 954px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_431 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 978px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_432 {
  width: 570px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 1002px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_433 {
  width: 136px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 1026px;
  left: 515px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1_434 {
  width: 166px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 1106px;
  left: 712px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v1_438 {
  width: 570px;
  height: 288px;
  background: url("../images/v1_438.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 1160px;
  left: 515px;
  overflow: hidden;
}
.v1_440 {
  width: 570px;
  height: 157px;
  background: url("../images/v1_440.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_442 {
  width: 584px;
  height: 113px;
  background: url("../images/v1_442.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v1_443 {
  width: 584px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_446 {
  width: 99px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 1478px;
  left: 750px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Bold;
  font-size: 27px;
  opacity: 1;
  text-align: center;
}
.v1_448 {
  width: 163px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 1537px;
  left: 718px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v1_450 {
  width: 570px;
  height: 575px;
  background: url("../images/v1_450.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1594px;
  left: 515px;
  overflow: hidden;
}
.v1_451 {
  width: 570px;
  height: 459px;
  background: url("../images/v1_451.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_452 {
  width: 570px;
  height: 380px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_453 {
  width: 353px;
  height: 379px;
  background: url("../images/v1_453.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 108px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_454 {
  width: 570px;
  height: 79px;
  background: url("../images/v1_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 3px;
  margin: 27px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  overflow: hidden;
}
.v1_456 {
  width: 504px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 9px;
  left: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_458 {
  width: 18px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 9px;
  left: 548px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v1_460 {
  width: 570px;
  height: 458px;
  background: url("../images/v1_460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 570px;
  overflow: hidden;
}
.v1_461 {
  width: 570px;
  height: 380px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_462 {
  width: 436px;
  height: 379px;
  background: url("../images/v1_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
  overflow: hidden;
}
.v1_463 {
  width: 570px;
  height: 78px;
  background: url("../images/v1_463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 529px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  overflow: hidden;
}
.v1_464 {
  width: 37px;
  height: 59px;
  background: url("../images/v1_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 529px;
  overflow: hidden;
}
.v1_465 {
  width: 570px;
  height: 558px;
  background: url("../images/v1_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1140px;
  overflow: hidden;
}
.v1_466 {
  width: 570px;
  height: 380px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_467 {
  width: 436px;
  height: 379px;
  background: url("../images/v1_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
  overflow: hidden;
}
.v1_468 {
  width: 570px;
  height: 178px;
  background: url("../images/v1_468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 529px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  overflow: hidden;
}
.v1_469 {
  width: 36px;
  height: 159px;
  background: url("../images/v1_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 529px;
  overflow: hidden;
}
.v1_470 {
  width: 570px;
  height: 458px;
  background: url("../images/v1_470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1710px;
  overflow: hidden;
}
.v1_471 {
  width: 570px;
  height: 380px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_472 {
  width: 436px;
  height: 379px;
  background: url("../images/v1_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
  overflow: hidden;
}
.v1_473 {
  width: 570px;
  height: 78px;
  background: url("../images/v1_473.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 529px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  overflow: hidden;
}
.v1_474 {
  width: 37px;
  height: 59px;
  background: url("../images/v1_474.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 529px;
  overflow: hidden;
}
.v1_475 {
  width: 570px;
  height: 458px;
  background: url("../images/v1_475.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2280px;
  overflow: hidden;
}
.v1_476 {
  width: 570px;
  height: 380px;
  background: rgba(230,230,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_477 {
  width: 436px;
  height: 379px;
  background: url("../images/v1_477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
  overflow: hidden;
}
.v1_478 {
  width: 570px;
  height: 78px;
  background: url("../images/v1_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 9px 529px;
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 0px;
  overflow: hidden;
}
.v1_479 {
  width: 37px;
  height: 59px;
  background: url("../images/v1_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 529px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1_489 {
  width: 643px;
  height: 208px;
  background: url("../images/v1_489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2162px;
  left: 479px;
  overflow: hidden;
}
.v1_490 {
  width: 118px;
  height: 172px;
  background: url("../images/v1_490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_493 {
  width: 118px;
  height: 118px;
  background: url("../images/v1_493.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_495 {
  width: 118px;
  height: 52px;
  background: url("../images/v1_495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_496 {
  width: 118px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 6px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_497 {
  width: 32px;
  height: 16px;
  background: url("../images/v1_497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
  overflow: hidden;
}
.v1_499 {
  width: 118px;
  height: 172px;
  background: url("../images/v1_499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 131px;
  overflow: hidden;
}
.v1_500 {
  width: 118px;
  height: 118px;
  background: url("../images/v1_500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_501 {
  width: 118px;
  height: 52px;
  background: url("../images/v1_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_502 {
  width: 118px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 6px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_503 {
  width: 118px;
  height: 192px;
  background: url("../images/v1_503.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 262px;
  overflow: hidden;
}
.v1_504 {
  width: 118px;
  height: 118px;
  background: url("../images/v1_504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_505 {
  width: 118px;
  height: 72px;
  background: url("../images/v1_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_506 {
  width: 118px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 6px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_507 {
  width: 118px;
  height: 172px;
  background: url("../images/v1_507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 393px;
  overflow: hidden;
}
.v1_508 {
  width: 118px;
  height: 118px;
  background: url("../images/v1_508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_509 {
  width: 118px;
  height: 52px;
  background: url("../images/v1_509.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_510 {
  width: 118px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 6px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_511 {
  width: 118px;
  height: 172px;
  background: url("../images/v1_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 524px;
  overflow: hidden;
}
.v1_512 {
  width: 118px;
  height: 118px;
  background: url("../images/v1_512.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_513 {
  width: 118px;
  height: 52px;
  background: url("../images/v1_513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 6px 0px;
  opacity: 1;
  position: absolute;
  top: 118px;
  left: 0px;
  overflow: hidden;
}
.v1_514 {
  width: 118px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 6px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_516 {
  width: 124px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 2390px;
  left: 709px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v1_518 {
  width: 643px;
  height: 411px;
  background: url("../images/v1_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 2437px;
  left: 479px;
  overflow: hidden;
}
.v1_521 {
  width: 524px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 0px;
  left: 0px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v1_520 {
  width: 570px;
  height: 349px;
  background: url("../images/v1_520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
  overflow: hidden;
}
.v1_522 {
  width: 124px;
  color: rgba(33,33,33,1);
  position: absolute;
  top: 2829px;
  left: 708px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004000000189989805);
  font-family: Arial;
  font-weight: Regular;
  font-size: 17px;
  opacity: 1;
  text-align: center;
}
.v1_524 {
  width: 629px;
  height: 128px;
  background: url("../images/v1_524.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2869px;
  left: 456px;
  overflow: hidden;
}
